<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <!--Drag n Drop Function-->
    <div ng-controller="MainCtrl">
        <rectangle id="container"></rectangle>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                    <h3 id="title">Excel File Reader</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-center align-items-center text-center" id="drop-zone">
                        <div class="d-flex justify-content-center align-items-center" id="ellipse">
                            <img src="arrow-up.svg" alt="arrow-up" id="arrow-up">
                        </div>
                        <p id="action-text">Drag and Drop your files here</p>
                        <p id="description">No size limit</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center align-items-center">
                    <div class="d-flex align-items-center" id="search-box">
                        <img src="search.svg" alt="search" id="search-icon">
                        <input type="text" name="search" id="search-bar" placeholder="Search..." ng-model="search">
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">no</th>
                            <th scope="col">Id opt</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date Joined</th>
                            <th scope="col">Section</th>
                            <th scope="col">Line</th>
                            <th scope="col">Date Resign</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in jsonData | filter : search">
                            <th scope="row">{{data.no}}</th>
                            <td>{{data["id opt"]}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data["joined date"]}}</td>
                            <td>{{data.section}}</td>
                            <td>{{data.line}}</td>
                            <td>{{data["resigned date"]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="container-fluid d-flex justify-content-center text-center">
            <p>Excel File Reader • Designed by <a href="https://github.com/aminhaiqal/Excel-File-Reader" target="_blank">Amin Haiqal</a></p>
        </footer>
    </div>
</body>
</html>